#under5, #over5under7, #over7 {
  display: none;
}

body {
  background: rgb(7, 12, 83);
  color: rgb(250, 255, 181);
  background-image: url("../img/ferriswheel.jpg");
  background-repeat: no-repeat;
}

.container {
  margin: auto;
}

.crocs {
  font-size: x-small;
  font-style: italic;
  float:right;
}

h2 {
  text-decoration: underline;
  color: rgb(235, 143, 166);
}

li {
  color: rgb(7, 12, 83);
  padding-left: 5px;
}

.good {
  background:rgb(158, 233, 158);
}

.okay {
  background: rgb(250, 255, 181);
}

.ungood {
  background: rgb(235, 143, 166)
}

.btn {
  background: rgb(7, 12, 83);
}